



<div class="position-absolute top-50 start-50 translate-middle">
  <div class="d-flex justify-content-center" (click)="navigateComponent()">
    <div class="card mx-2 w-50" style="width: 18rem;"
      *ngFor="let item of items; let i = index;" (click)="itemClicked = item;" style="cursor: pointer;">
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{item.subtitle}}</h6>
        <p class="card-text">{{item.description}}</p>
      </div>
    </div>
  </div>
</div>
